<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
</head>
<body>
<h1>Личный кабинет администратора</h1>
<form method="post" th:action="@{/logout}">
    <button type="submit">Выйти из личного кабинета</button>
</form>
<br>
<div>
    <fieldset><legend>Работа с пользователями</legend>
        <table>
            <tr><th>Логин</th><th>Имя</th><th>Статус</th><th>Email</th><th>Телефон</th></tr>
            <div th:each="user : ${users}">
                <tr>
                    <td th:text="'login' + ${user.getLogin()}'"></td>
                    <td th:text="'login' + ${user.getNameUser()}'"></td>
                    <td th:text="'login' + ${user.getLogin()}'"></td>
                    <td th:text="'login' + ${user.getLogin()}'"></td>
                    <td th:text="'login' + ${user.getLogin()}'"></td>
                </tr>

        </div>

    </fieldset>
</div>-->
<a href="admin/product/add">Добавить товар</a>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
    <hr>
</div>
</body>
</html>