<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">

</head>
<style>
    body {
        background-color: papayawhip;
		}
    .container{
        margin: 0 auto;
        width: 400px;

        border: black solid 1px;
        background-color:white;
        padding: 20px;
    }
    .flex-container{
        display:flex;

        background-color: white;

    }
    .flex-container>div{
        padding:5px;
    }
</style>

<body>
<div class="container">
    <h3>Вход</h3>
    <form method="post" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <label for="username">Введите логин: </label>
        <input type="text" placeholder="Введите логин" name="username" id="username">
        <br>
        <p> </p>
        <label for="password">Введите пароль: </label>
        <input type="password" placeholder="Введите пароль: " name="password" id="password">
        <p> </p>

        <div class="flex-container">
            <div>
                <input type="submit" value="Войти">
            </div>

        </div>
    </form>
    <div class="flex-container">
        <div>
        <form method="get" th:action="@{/registration}">
            <button type="submit">Зарегистрироваться</button>
        </form>
        </div>
        <div>
            <form method="get" th:action="@{/product}">
                <button type="submit">Войти без регистрации</button>
            </form>
        </div>
    </div>
    <div th:if="${param.error}" style="color: red">
        Неправильный логин или пароль
    </div>
    <br>
    <br>
    <img class="picture" th:src="@{/images/first.jpg}">
</div>

</body>
</html>